@page
@model Gram.Web.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.EventName" class="control-label"></label>
                <input asp-for="Entity.EventName" class="form-control" />
                <span asp-validation-for="Entity.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventStatusId" class="control-label"></label>
                <select asp-for="Entity.EventStatusId" class="form-control" asp-items="ViewBag.EventStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventDescription" class="control-label"></label>
                <input asp-for="Entity.EventDescription" class="form-control" />
                <span asp-validation-for="Entity.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventDate" class="control-label"></label>
                <input asp-for="Entity.EventDate" class="form-control" />
                <span asp-validation-for="Entity.EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
