@page
@model Gram.Web.Pages.Administration.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewData["ActivePage"] = ManageNavPages.Employees;
}

<h1>
    <a asp-page="./Index" title="Back" class="ga fas fa-chevron-left"></a>
    <a asp-page="./Details" asp-route-id="@Model.Entity.Id" title="Details" class="ga far fa-file-alt"></a>
    <a asp-page="./Delete" asp-route-id="@Model.Entity.Id" title="Delete" class="ga far fa-trash-alt"></a>
    Edit employee
</h1>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="Entity.RowVersion" />
            <input type="hidden" asp-for="Entity.PersonId" />
            <div class="form-group">
                <label asp-for="Entity.DateOfEmployment" class="control-label"></label>
                <input asp-for="Entity.DateOfEmployment" class="form-control" />
                <span asp-validation-for="Entity.DateOfEmployment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EmploymentExpiryDate" class="control-label"></label>
                <input asp-for="Entity.EmploymentExpiryDate" class="form-control" />
                <span asp-validation-for="Entity.EmploymentExpiryDate" class="text-danger"></span>
            </div>
            <button type="submit" title="Save" class="btn btn-primary">
                <span class="far fa-save"></span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
