@page
@model Gram.Web.Pages.Attendees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1><a asp-page="../Events/Details" asp-route-id="@Model.EventId" title="Back" class="fas fa-chevron-left nav-link text-dark"></a>Create attendance</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.PersonId" class="control-label"></label>
                <select asp-for="Entity.PersonId" class="form-control" asp-items="Model.CustomersList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Entity.StatusId" class="control-label"></label>
                <select asp-for="Entity.StatusId" class="form-control" asp-items="Model.AttendanceStatusList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Entity.StatusDate" class="control-label"></label>
                <input asp-for="Entity.StatusDate" class="form-control" />
                <span asp-validation-for="Entity.StatusDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Remarks" class="control-label"></label>
                <input asp-for="Entity.Remarks" class="form-control" />
                <span asp-validation-for="Entity.Remarks" class="text-danger"></span>
            </div>
            <button type="submit" title="Create" class="btn btn-primary">
                <span class="far fa-save"></span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
