@page
@model Gram.Web.Pages.Attendees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1><a asp-page="../Events/Details" asp-route-id="@Model.EventId" class="fas fa-chevron-left nav-link text-dark"></a>Create attendance</h1>
<hr />

@Model.EventId

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Attendance.EventId" class="control-label"></label>
                <select asp-for="Attendance.EventId" class ="form-control" asp-items="ViewBag.EventId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.PersonId" class="control-label"></label>
                <select asp-for="Attendance.PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.StatusId" class="control-label"></label>
                <select asp-for="Attendance.StatusId" class ="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.Remarks" class="control-label"></label>
                <input asp-for="Attendance.Remarks" class="form-control" />
                <span asp-validation-for="Attendance.Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
