@page
@model Gram.Web.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>
    <a asp-page="./Index" title="Back" class="ga fas fa-chevron-left"></a>
    Create customer
</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entity.FirstName" class="control-label"></label>
                <input asp-for="Entity.FirstName" class="form-control" />
                <span asp-validation-for="Entity.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.LastName" class="control-label"></label>
                <input asp-for="Entity.LastName" class="form-control" />
                <span asp-validation-for="Entity.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.DateOfBirth" class="control-label"></label>
                <input asp-for="Entity.DateOfBirth" class="form-control" />
                <span asp-validation-for="Entity.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.NationalityId" class="control-label"></label>
                <select asp-for="Entity.NationalityId" class ="form-control" asp-items="Model.NationalitiesList">
                    <option value=""></option>
                </select>
            </div>
            <button type="submit" title="Create" class="btn btn-primary">
                <span class="far fa-save"></span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
