@page
@model Gram.Web.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>
    <a asp-page="./Index" title="Back" class="ga fas fa-chevron-left"></a>
    <a asp-page="./Details" asp-route-id="@Model.Entity.Id" title="Details" class="ga far fa-file-alt"></a>
    <a asp-page="./Delete" asp-route-id="@Model.Entity.Id" title="Delete" class="ga far fa-trash-alt"></a>
    Edit event
</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entity.Id" />
            <input type="hidden" asp-for="Entity.RowVersion" />
            <div class="form-group">
                <label asp-for="Entity.EventName" class="control-label"></label>
                <input asp-for="Entity.EventName" class="form-control" />
                <span asp-validation-for="Entity.EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventStatusId" class="control-label"></label>
                <select asp-for="Entity.EventStatusId" class="form-control" asp-items="Model.StatusesList"></select>
                <span asp-validation-for="Entity.EventStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventDescription" class="control-label"></label>
                <textarea asp-for="Entity.EventDescription" class="form-control"></textarea>
                <span asp-validation-for="Entity.EventDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.EventDate" class="control-label"></label>
                <input asp-for="Entity.EventDate" class="form-control" />
                <span asp-validation-for="Entity.EventDate" class="text-danger"></span>
            </div>
            <button type="submit" title="Save" class="btn btn-primary">
                <span class="far fa-save"></span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
